.postsBlock {
	padding: calc(var(--gap) / 2);
}
.postsarea {
	display: block;
	margin-bottom: calc(var(--gap) / 2);
	width: 300px;
	height: 50px;
	box-shadow: var(--shadow);
}
.button {
	display: block;
	margin-bottom: calc(var(--gap) / 2);
	background-color: var(--firstcolor);
	width: 100px;
	height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--secondcolor);
	box-shadow: var(--shadow);
}
.button:hover {
	background-color: var(--secondcolor);
	color: var(--firstcolor);
	transition: all var(--transition);
}

.poststitle {
	margin-bottom: calc(var(--gap) / 2);
	text-transform: capitalize;
	font-size: var(--fontSize);
	font-weight: bold;
}
