.friends {
	margin-top: 70px;
	margin-bottom: var(--gap);
}

.title {
	margin-left: var(--gap);
	color: var(--secondcolor);
	text-transform: uppercase;
	font-size: var(--fontSize);
}
.friendItem {
	display: flex;
}
