.postsarea {
	width: 50%;
	margin-bottom: calc(var(--gap) / 2);

	padding: calc(var(--gap) / 2);
	margin-left: calc(var(--gap) / 2);
	margin-top: calc(var(--gap) / 2);
	background-color: var(--secondcolor);
	border: 2px solid var(--firstcolor);
	border-radius: 5px;
	box-shadow: var(--shadow);
}
.button_width{
	width: 100px;
}

