:root {
	--firstcolor: #ff784f;
	--secondcolor: #edffd9;
	--theecolor: #db9d47;
	--fourcolor: #ffe19c;
	--gap: 20px;
}

.nav {
	grid-area: n;
	background-color: var(--theecolor);
}

.items {
}
.item {
	margin: var(--gap);
	color: var(--secondcolor);
	transition: all 0.3s ease 0s;
}
.item a {
	color: inherit;
	text-transform: uppercase;
}
.item .activeLink {
	color: var(--fourcolor);
}
.users {
	font-size: 1.2em;
	padding: 30px 0;
}
