.nav {
	grid-area: n;
	background-color: #db9d47;
}

.items {
}
.item {
	margin: 20px;
	color: #edffd9;
	transition: all 0.3s ease 0s;
}
.item a {
	color: inherit;
	text-transform: uppercase;
}
.item .activeLink {
	color: #ffe19c;
}
