.item {
	margin-bottom: 10px;
	margin-top: 30px;
}
.box {
	display: flex;
	align-items: center;
	color: #ff784f;
}
.img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
	margin-bottom: 10px;
	margin-right: 10px;
}
