.wrapper {
	display: flex;
	flex-direction: column;
	/* margin-bottom: var(--gap); */
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: calc(var(--gap) / 2) 0;
}

.btns {
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn_box {
	display: flex;
}
.btn {
	font-size: 12px;
	background-color: var(--secondcolor);
	box-shadow: var(--shadow);
	border: 2px solid var(--secondcolor);
	color: var(--firstcolor);
	border-radius: 5px;
	font-weight: bold;
	transition: all var(--transition);
	margin-right: var(--gap);
}
.btn:hover,
.btn:focus {
	border: 2px solid var(--firstcolor);
}

.btn[disabled] {
	cursor: auto;
	background-color: var(--secondcolor);
	box-shadow: var(--shadow);
	border: 2px solid var(--secondcolor);
	color: #bed1a8;
}

.total_count {
	margin-right: var(--gap);
	align-self: center;
	background-color: var(--secondcolor);
	box-shadow: var(--shadow);
	border: 2px solid var(--secondcolor);
	color: #bed1a8;
	border-radius: 5px;
}
.number {
	cursor: pointer;
	font-size: 14px;
	margin-right: var(--gap);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--secondcolor);
	box-shadow: var(--shadow);
	border: 2px solid var(--secondcolor);
	color: var(--firstcolor);
	font-weight: bold;
	text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
	transition: all var(--transition);
}

.number._activ {
	/* font-size: 1.5em; */
	color: var(--firstcolor);
	font-weight: bold;
	border: 2px solid var(--firstcolor);
}
