.login {
	position: relative;
	display: grid;
	row-gap: calc(var(--gap) / 2);
	width: 230px;
	margin-bottom: calc(var(--gap) / 2);
	padding: calc(var(--gap) / 2);
	margin-left: calc(var(--gap) / 2);
	margin-top: calc(var(--gap) / 2);
	background-color: var(--secondcolor);
	border: 2px solid var(--firstcolor);
	border-radius: 5px;
	box-shadow: var(--shadow);
}
.title {
	color: var(--firstcolor);
	text-align: center;
	margin-top: calc(var(--gap) / 2);
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: bold;
}
