.padington_wrapper {
	display: flex;
}
.pagination_btn {
	font-size: var(--fontSize);
	margin-right: var(--gap);
}

.pagination {
	display: flex;
}
.number {
	cursor: pointer;
	font-size: var(--fontSize);
	margin-right: var(--gap);
}

.number._activ {
	font-size: 1.5em;
	font-weight: bold;
}
