.message {
	display: flex;
	font-weight: bold;
}

.message:not(:last-child) {
	margin-bottom: calc(var(--gap) / 2);
}
.name {
	text-transform: capitalize;
	font-size: var(--fontSize);
	opacity: 0.8;
	padding-right: var(--gap);
	color: var(--theecolor);
}
